POSTGRES_USER=aitube_pllm
POSTGRES_PASSWORD=change-me
POSTGRES_DB=aitube_pllm
PLLM_PORT=8080

PLLM_DATABASE_URL=postgresql://aitube_pllm:change-me@postgres:5432/aitube_pllm
PLLM_LITELLM_API_BASE=http://host.docker.internal:4000
PLLM_LITELLM_MASTER_KEY=change-me
PLLM_DEBUG=false
PLLM_LOG_LEVEL=INFO